body{
    margin:0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}



.nav-right {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-right: 20px;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.InputAddOn {
    display: flex;
    margin-bottom: 1.5em;
}

.InputAddOn-field {
    flex: 1;
}
.InputAddOn-field:not(:first-child) {
    border-left: 0;
}
.InputAddOn-field:not(:last-child) {
    border-right: 0;
}

.InputAddOn-item {
    background-color: rgba(147, 128, 108, 0.1);
    color: #666666;
    font: inherit;
    font-weight: normal;
}

.InputAddOn-field,
.InputAddOn-item {
    border: 1px solid rgba(147, 128, 108, 0.25);
    padding: 0.5em 0.75em;
}
.InputAddOn-field:first-child,
.InputAddOn-item:first-child {
    border-radius: 2px 0 0 2px;
}
.InputAddOn-field:last-child,
.InputAddOn-item:last-child {
    border-radius: 0 2px 2px 0;
}

.fieldsetMilieu {
    width: 50%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 330px;
    margin: auto;
}

.box {
    width: 100%;
    padding: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 25px;
    background-color: #f0f0f0;
    border: 1px solid rgba(147, 128, 108, 0.25);
    border-radius: 5px;
    transition-duration: 200ms;
}

.box .edit {
    display: flex;
    gap: 5px;
}

.box a {
    text-decoration: none;
}

.delete {
    text-decoration: none;
    color: red;
}

.modify{
    color: black;
}

.box:hover {
    transition-duration: 200ms;
    padding: 13px;
}